- var currentPath = '/' + path
- var showDropdown = dropdown.length && !(dropdown.length == 1 && semverService.test(dropdown[0].id))
- var inMenu = function(c) { return c.menuWeight != -1 && (c.title || c.navigationTitle) }

mixin renderSidebarNavListItem(item, depth)
  -
    var hasChildren = !!item.children.length
    var path = item.path
    var onPath = currentPath.includes(path)
    var itemClassList = {
      'sidebar__nav__item--active': onPath,
      'sidebar__nav__item--active-on': currentPath == path,
      'sidebar__nav__item--parent': hasChildren
    }
  li.sidebar__nav__item(class=itemClassList)
    a.sidebar__nav__item__container(href=path, class=`sidebar__nav__item__container--depth-${depth}`)
      if hasChildren
        i.sidebar__nav__icon(data-feather='chevron-right')
      .sidebar__nav__text!= item.navigationTitle || item.title
  if(hasChildren)
    ul.sidebar__nav__list(class={'sidebar__nav__list--active': onPath})
      each val, index in item.children.filter(inMenu)
        +renderSidebarNavListItem(val, depth + 1)

.layout__sidebar.layout__drawer
  section.sidebar
    header.sidebar__header
      .sidebar__dropdown
        if showDropdown
          ul.sidebar__dropdown__list
            each val, index in dropdown
              if val.navigationTitle || val.title
                li.sidebar__dropdown__item
                  a.sidebar__dropdown__link(href=val.path)!= val.navigationTitle || val.title
        .sidebar__dropdown__toggle
          p.sidebar__dropdown__text
            span.sidebar__dropdown__text__title!= (type) ? type.title : ' '
            span.sidebar__dropdown__text__version!= ' ' + versionTitle
          if showDropdown
            i.sidebar__dropdown__icon(data-feather='chevron-down')

    nav.sidebar__nav(role='navigation')
      ul.sidebar__nav__list.sidebar__nav__list--active
        each val, index in item.children.filter(inMenu)
          +renderSidebarNavListItem(val, 0)

    footer.sidebar__footer
      .sidebar__footer-links
        a(href='https://d2iq.com/terms/') Terms of Service
        a(href='https://d2iq.com/privacy/') Privacy Policy
      a.sidebar__footer-copyright(href='https://d2iq.com/')!= copyright
