- var page = hierarchy.findByPath('/' + path)

- // Meta
- var pageTitle = (title && path != '') ? (title + ' - ' + siteTitle) : siteTitle
- var pageDescription = (page && page.excerpt) ? page.excerpt : siteDescription

- // Canonical URL
- var semanticVersion = /^[0-9]+\.[0-9]+/
- var currentDocs = hierarchy.children.filter(child => semanticVersion.test(child.id))[0]
- var paths = path.split('/')
- var canonicalHref = null

if currentDocs && paths[0] != currentDocs.id && semanticVersion.test(paths[0])
  - var p = path.split('/')
  - p[0] = currentDocs.id
  - var newUrl = '/' + p.join('/')
  if hierarchy.checkIfPathExists(newUrl)
    - canonicalHref = url + newUrl

meta(charset='UTF-8')
meta(name='viewport', content='width=device-width', initial-scale='1', user-scalable='no')
title!= pageTitle
meta(name='description', content=pageDescription)
link(rel='icon' href='/assets/favicon.ico')
link(rel='stylesheet', type='text/css', href='/css/styles.css')
link(rel='search', type='application/opensearchdescription+xml', href='/assets/opensearch.xml', title='Search documentation site')

if canonicalHref
  link(rel='canonical', href=canonicalHref)

link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i', rel='stylesheet')

script(src='https://unpkg.com/feather-icons/dist/feather.min.js')
if env != 'development' && env != 'pdf'
  <!-- Ethnio Activation Code -->
  script(type='text/javascript', language='javascript', src='//ethn.io/74286.js', async='true', charset='utf-8')

if env != 'development' && env != 'pdf'
  script.
    window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(t){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)},window.analytics.SNIPPET_VERSION="2.0.8",
    window.analytics.load("7sgtwqvuai");
    window.analytics.page();
  noscript
    iframe(src='//www.googletagmanager.com/ns.html?id=GTM-KS54VG', height='0', width='0', style='display:none;visibility:hidden')
  script.
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KS54VG');
