- var docs = hierarchy.children.docs
- var versionTitle = ''
- var version = {}
each val, index in docs.children
  if ('/' + path).indexOf(val.path) != -1
    - versionTitle = index
    - version = val

mixin renderSidebarHeader()
  header(class='sidebar__header')
    div(class='sidebar__dropdown')
      div(class='sidebar__dropdown-toggle')
        p(class='sidebar__dropdown-text')
          span(class='sidebar__dropdown-text__title')!= siteTitle
          span(class='sidebar__dropdown-text__version')!= ' ' + versionTitle
        svg(class='sidebar__dropdown-icon')
          use(xlink:href='/assets/sprite.svg#chevron')
      ul(class='sidebar__dropdown-list')
        each val, index in docs.children
          li(class='sidebar__dropdown-item')
            a(href=val.path, class='sidebar__dropdown-link')!= index

mixin renderSidebarNavListItem(item)
  - var listClassList = {}
  - listClassList['sidebar__nav__list'] = true
  - listClassList['sidebar__nav__list--active'] = ('/' + path).indexOf(item.path) !== -1
  ul(class=listClassList)
    each val, index in item.children
      - var itemClassList = {}
      - itemClassList['sidebar__nav__item'] = true
      - itemClassList['sidebar__nav__item--active'] = ('/' + path).indexOf(val.path) !== -1
      - var hasChildren = Object.keys(val.children).length !== 0
      li(class=itemClassList)
        div(class='sidebar__nav__item__text')
          if(hasChildren)
            svg(class='sidebar__nav__icon')
              use(xlink:href="/assets/sprite.svg#chevron")
          a(href=val.path, class='sidebar__nav__link')!= val.title
        if(hasChildren)
          +renderSidebarNavListItem(val)

mixin renderSidebarNav()
  nav(role='navigation', class='sidebar__nav')
    each val, index in docs.children
      if ('/' + path).indexOf(val.path) != -1
        +renderSidebarNavListItem(val)

mixin renderSidebarFooter()
  footer(class='sidebar__footer')
    div(class='sidebar__footer-links')
      a(href='/') Terms of Service
      a(href='/') Privacy Policy
    div(class='sidebar__footer-copyright')!= copyright

section(class='sidebar')
  +renderSidebarHeader()
  +renderSidebarNav()
  +renderSidebarFooter()