// Variables

- var docs = hierarchy.children.docs

- var versionTitle = ''
- var version = {}
each val, index in docs.children
  if ('/' + path).indexOf(val.path) != -1
    - versionTitle = index
    - version = val

// Mixins

mixin render(item)
  - var classList = {}
  - classList['navigation__list'] = true
  - classList['navigation__list--active'] = ('/' + path).indexOf(item.path) !== -1
  ul(class=classList)
    each val, index in item.children
      li(class='navigation__item')
        svg(class='navigation__icon')
          use(xlink:href="/assets/sprite.svg#chevron")
        a(href=val.path, class='navigation__link')!= val.title
        +render(val)

// Render

section(class='sidebar')
  header(class='sidebar__header')
    div(class='sidebar__dropdown')
      div(class='sidebar__dropdown-toggle')
        p(class='sidebar__dropdown-text')
          span(class='sidebar__dropdown-text__title')!= siteTitle
          span(class='sidebar__dropdown-text__version')!= ' ' + versionTitle
        svg(class='sidebar__dropdown-icon')
          use(xlink:href='/assets/sprite.svg#chevron')
      ul(class='sidebar__dropdown-list')
        each val, index in docs.children
          li(class='sidebar__dropdown-item')
            a(href=val.path, class='sidebar__dropdown-link')!= index

  nav(role='navigation', class='navigation')
    each val, index in docs.children
      if ('/' + path).indexOf(val.path) != -1
        +render(val)

  footer(class='sidebar__footer')
    div(class='sidebar__footer-links')
      a(href='/') Terms of Service
      a(href='/') Privacy Policy
    div(class='sidebar__footer-copyright') @ 2017 Mesosphere, Inc. All rights reserved.