- var { sphere, product, productName, lang, version = "" } = Utils.getPathInfo(path)
- var semver = /^(v|)[0-9]+\.[0-9]+/
- var langFragment = lang == "en" ? "" : `/${lang}`
- var versionFragment = version ? `/${version}` : ''
- var inMenu = function(c) { return c.menuWeight != -1 && (c.title || c.navigationTitle) }
- var productPath = sphere == "services" ? `mesosphere/dcos${langFragment}/${sphere}/${product}` : `${sphere}/${product}${langFragment}`
- var productVersions = hierarchy.findByPath(productPath).children.filter(item => semver.test(item.id) && item.menuWeight != -1)
- var currentPath = '/' + path

mixin renderSidebarNavListItem(item, depth)
  -
    var hasChildren = !!item.children.length
    var onPath = currentPath.includes(item.path)
  li(class={'active': onPath, 'active-on': currentPath == item.path})
    a(href=item.path + "/", class=`d${depth}`)
      if hasChildren
        i(data-feather='chevron-right')
      != item.navigationTitle || item.title
  if(hasChildren && onPath)
    ul
      each val, index in item.children.filter(inMenu).sort(Utils.sortPages)
        +renderSidebarNavListItem(val, depth + 1)

.layout__sidebar.layout__drawer
  section.sidebar
    header.sidebar__header
      .sidebar__dropdown
        if productVersions.length > 1
          ul
            each val, index in productVersions
              if val.navigationTitle || val.title
                li
                  a(href=hierarchy.findLongestExisting(path.replace(`${productPath}${versionFragment}`, val.path)))!= val.navigationTitle || val.title
        .toggle
          p
            span.title!= productName
            span.version!= ' ' + version
          if productVersions.length > 1
            i(data-feather='chevron-down')

    nav.sidebar_nav(role='navigation')
      ul
        each val, index in hierarchy.findByPath(`${productPath}${versionFragment}`).children.filter(inMenu).sort(Utils.sortPages)
          +renderSidebarNavListItem(val, 0)

    footer.sidebar__footer
      .sidebar__footer-links
        a(href='https://d2iq.com/terms/') Terms of Service
        a(href='https://d2iq.com/privacy/') Privacy Policy
      a.sidebar__footer-copyright(href='https://d2iq.com/')!= copyright
