mixin links(path)
  ul.blurb__links
    for folder in hierarchy.findByPath(path).children.slice(0,4)
      li.blurb__link
        a(href=folder.path)!= folder.title


doctype html
html(lang='en')
  head
    include partials/head.pug
  body.landing.landing--dcos
    .layout
      header.header(style='position: fixed;')
        a.header__drawer
          i.header__icon(data-feather='menu')
        div.header__banner <strong class="header__banner-icon">&#9432;</strong> You are viewing the documentation for older DKP releases. If you're looking for the new help center that includes the latest DKP release, go to <a href="https://docs.d2iq.com/">https://docs.d2iq.com</a>.
        a.header__logo(href='/')
          img.header__logo--mobile(src='/assets/D2iQ_Logotype_Color_Positive_Documentation.svg', alt='D2IQ')
          img.header__logo--desktop(src='/assets/D2iQ_Logotype_Color_Positive_Documentation.svg', alt='D2IQ')
        .header__main
          .header__dropdown
            img.header__dropdown-icon(src='/assets/D2IQ_Logotype_Color_Positive.png', alt='D2iQ')
            strong D2IQ Documentation
            i(data-feather='chevron-down')
      include partials/bubbles.html
      .landing__container
        include partials/filters.html
        .blurb__item(data-sphere="ksphere")
          a.blurb__left(href="/dkp/konvoy")
            img.landing__tile-image(src='/assets/Konvoy_Docs.png')
          .blurb__right
            a(href='/dkp/konvoy')
              h3.blurb__header Konvoy
            a.blurb__desc(href='/dkp/konvoy')
              p.color__grey A packaged set of integrated operational services for Kubernetes so you can get up and running quickly and easily.
            +links(`/dkp/konvoy/${konvoyDocsLatest}`)
        .blurb__item(data-sphere="ksphere")
          a.blurb__left(href="/dkp/kommander")
            img.landing__tile-image(src='/assets/Kommander_Docs.png')
          .blurb__right
            a(href='/dkp/kommander')
              h3.blurb__header Kommander
            a.blurb__desc(href='/dkp/kommander')
              p.color__grey Deliver federated management and governance across disparate clusters for any on-premise or cloud Kubernetes distribution.
            +links(`/dkp/kommander/${kommanderDocsLatest}`)
        .blurb__item(data-sphere="ksphere")
          a.blurb__left(href="/dkp/kaptain")
            img.landing__tile-image(src='/assets/Kubeflow_Docs.png')
          .blurb__right
            a(href='/dkp/kaptain')
              h3.blurb__header Kaptain
            a.blurb__desc(href='/dkp/kaptain')
              p.color__grey Accelerate and scale your end-to-end machine learning pipeline.
            +links(`/dkp/kaptain/${kaptainDocsLatest}`)
        .blurb__item(data-sphere="mesosphere")
          a.blurb__left(href="/mesosphere/dcos")
            img.landing__tile-image(src='/assets/DCOS_Docs.png')
          .blurb__right
            a(href='/mesosphere/dcos')
              h3.blurb__header Mesosphere DC/OS
            a.blurb__desc(href='/mesosphere/dcos')
              p.color__grey A wide range of enterprise-grade capabilities for strong Day 2 operations of cloud native services.
            +links(`/mesosphere/dcos/${dcosDocsLatest}`)
        .blurb__item(data-sphere="ksphere")
          a.blurb__left(href="/dkp/dispatch")
            img.landing__tile-image(src='/assets/Dispatch_Docs.png')
          .blurb__right
            a(href='/dkp/dispatch')
              h3.blurb__header Dispatch
            a.blurb__desc(href='/dkp/dispatch')
              p.color__grey Dispatch has been deprecated.
            +links(`/dkp/dispatch/${dispatchDocsLatest}`)
        .blurb__item(data-sphere="ksphere")
          a.blurb__left(href='https://kudo.dev/' target="_blank")
            img.landing__tile-image(src='/assets/KUDO_Docs.png')
          .blurb__right
            a(href='https://kudo.dev/' target="_blank")
              h3.blurb__header KUDO
            a.blurb__desc(href='https://kudo.dev/' target="_blank")
              p.color__grey KUDO is a Universal Operator that orchestrates workload-specific procedures using a declarative spec, saving you time from writing thousands of lines of code so you can get to market faster.
            ul.blurb__links
              li.blurb__link
                a(href='https://kudo.dev/docs/runbooks/kafka/release-notes.html' target='_blank') Release Notes
              li.blurb__link
                a(href='https://kudo.dev/docs/what-is-kudo.html' target='_blank') What is KUDO
              li.blurb__link
                a(href='https://kudo.dev/docs/developing-operators/getting-started.html' target='_blank') Getting Started

        .landing__external
          .landing__external-item
            i.landing__external-icon(data-feather='book')
            h3.landing__external-title
              a.landing__external-link(href='https://d2iq.com/training/') Get Training
            p.landing__external-description Learn to use and administer D2iQ products in real-time training courses, in person or online, offered by D2iQ.
          .landing__external-item
            i.landing__external-icon(data-feather='users')
            h3.landing__external-title
              a.landing__external-link(href='https://dcos.io/community/') Join the Community
            p.landing__external-description Join the community to get help via mailing list or Slack.
          .landing__external-item
            i.landing__external-icon(data-feather='slack')
            h3.landing__external-title
              a.landing__external-link(href='http://chat.dcos.io/') Find us on Slack
            p.landing__external-description Ask questions in the general channel and participate in day 2 ops, networking, packaging, and UX working groups.
      footer.landing__footer
        .landing__footer__container
          a.landing__footer__logo__link(href='https://d2iq.com/')
            img.landing__footer__logo(src='/assets/D2IQ_Logotype_Color_Positive.png', alt='D2iQ')
          .landing__footer__menu
            a(href='https://d2iq.com/terms/') Terms of Service
            a(href='https://d2iq.com/privacy/') Privacy Policy
          a.landing__footer__copyright(href='https://d2iq.com/')!= copyright
    script(src='https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js')
    script(src='https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js')
    include partials/scripts.pug
