- var paths = path.split('/')
- var sectionTitle = 'Kommander Documentation'

mixin renderGridToc()
  .grid-toc
    each val, index in hierarchy.findByPath(`/dkp/kommander/${kommanderDocsLatest}`).children
      if val.menuWeight != -1
        .grid-toc__item
          h2.grid-toc__title
            a(href=val.path)!= val.title
          if val.shortDesc
            - var displayExcerpt = (val.shortDesc.length > 100) ? val.shortDesc.substring(0, 100) + '…' : val.shortDesc
            p.grid-toc__desc!= displayExcerpt
          if val.children
            ul.grid-toc__list
              for item in val.children.slice(0, 5)
                li.grid-toc__list-item
                  a.grid-toc__link(href=item.path)!= item.title
              if val.children.length > 5
                li.grid-toc__list-item
                  a.grid-toc__link.grid-toc__link--all(href=val.path) View All
                    img.grid-toc__link--all__arrow(src='/assets/right-arrow.svg')

doctype html
html(lang='en')
  head
    include partials/head.pug
  body.landing.landing--dcos
    .layout
      header.header
        a.header__drawer
          i.header__icon(data-feather='menu')
        div.header__banner <strong class="header__banner-icon">&#9432;</strong> You are viewing the documentation for older DKP releases. If you're looking for the new help center that includes the latest DKP release, go to <a href="https://docs.d2iq.com/">https://docs.d2iq.com</a>.
        a.header__logo(href='/')
          img(src='/assets/D2iQ_Logotype_Color_Positive_Documentation.svg', alt='D2IQ').header__logo--mobile
          img(src='/assets/D2iQ_Logotype_Color_Positive_Documentation.svg', alt='D2IQ').header__logo--desktop
        .header__main
          .header__dropdown
            img.header__dropdown-icon(src='/assets/D2IQ_Logotype_Color_Positive.png', alt='D2iQ')
            strong!= sectionTitle
            i(data-feather='chevron-down')
          nav.header__menu
            ul.header__menu-list
              each val, index in hierarchy.findMenus(menus => menus.includes('kommander-header'))
                - var itemClass = {}
                - itemClass['header__menu-item'] = true
                - itemClass['header__menu-item--active'] = val.path == '/dkp/kommander'
                li(class=itemClass)
                  a(href=val.path)!= val.title
              li.header__menu-item
                a(href='https://support.d2iq.com') Support
        section.header__search(role='search')
          form.header__search-form(action='/search/')
            label.header__search-label(for='header-search-input')
              i.header__icon(data-feather='search')
            input.header__search-input(id='header-search-input', tabindex='1', type='text', name='q', placeholder='Search')
      include partials/header/header-dropdown.pug
      .landing__hero
        h1.landing__title!= sectionTitle
        form.landing__search(action='/search/')
          input.landing__search-input(id='landing-search-input', placeholder='Search Kommander Docs', tabindex='1', type='text', name='q')
          input(type='hidden', name='hFR[scope][0]', value=`Kommander ${kommanderDocsLatest}`)
          button.landing__search-button
            i(data-feather='search')

      .landing__container
        +renderGridToc()
        .landing__external
          .landing__external-item
            i.landing__external-icon(data-feather='book')
            h3.landing__external-title
              a.landing__external-link(href='https://d2iq.com/training/') Get Training
            p.landing__external-description Learn to use and administer Kommander in real-time training courses, in person or online, offered by D2iQ.
          .landing__external-item
            i.landing__external-icon(data-feather='slack')
            h3.landing__external-title
              a.landing__external-link(href='http://chat.dcos.io/') Find us on Slack
            p.landing__external-description Ask questions in the general channel and participate in day 2 ops, networking, packaging, and UX working groups.

      footer.landing__footer
        .landing__footer__container
          a.landing__footer__logo__link(href='https://d2iq.com/')
            img.landing__footer__logo(src='/assets/D2IQ_Logotype_Color_Positive.png', alt='D2iQ')
          .landing__footer__menu
            a(href='https://d2iq.com/terms/') Terms of Service
            a(href='https://d2iq.com/privacy/') Privacy Policy
          a.landing__footer__copyright(href='https://d2iq.com/')!= copyright
    script(src='https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js')
    script(src='https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js')
    include partials/scripts.pug
