-
  var categories = [
    "View All",
    "Networking and Security",
    "Storage",
    "Workload"
  ]

mixin renderGridInputs()
  .grid-filters
    .grid-filters__controls-div
      .grid-filters__select-label-div
        label.grid-filters__select-label!= 'CHOOSE A CATEGORY'
      .custom-select
        select.grid-filters__category
          option.grid-filters__category__option(value='view-all')!= 'View All'
          each category, _ in categories
            - var categoryString = category.toLowerCase().split(' ').join('-')
            option.grid-filters__category__option(value=categoryString)!= category
    div.grid-filters__labels(id="konvoy-labels")
      .grid-filters__label
        input.grid-filters__enterprise(type="checkbox" name="enterprise" value="enterprise")
        label!= 'Include Enterprise'
      .grid-filters__label
        input.grid-filters__community(type="checkbox" name="community" value="community")
        label!= 'Include Community'
      .grid-filters__label
        input.grid-filters__beta(type="checkbox" name="beta" value="beta")
        label!= 'Include Beta'

mixin renderGridToc()
  div.grid-toc(data-categories=categories.join(','))
    each category, _ in categories
      - var categoryString = category.toLowerCase().split(' ').join('-')
      - var categoryClasses = `grid-toc__service-category grid-toc__service-category__${categoryString}`
      div(class=categoryClasses)
        h1.grid-toc__category-header!= category
        - var categoryServices = []
        each service, _ in hierarchy.findByPath(`ksphere/konvoy/partner-solutions`).children
          if service.menuWeight != -1 && service.category == category
            - categoryServices.push(service)
        each service, _ in categoryServices
          - latestPath = service.path
          - var categoryString = category.split(' ').join('-')
          - var serviceItemClasses = `grid-toc__service-item`
          div(class=serviceItemClasses)
            .grid-toc__title-group
              h2.grid-toc__title
                a(href=latestPath)!= service.title
            p.grid-toc__service-desc!= service.excerpt || 'MISSING'
            if service.children
              ul.grid-toc__service-list
                for version in service.children.slice(0,1)
                  for folder in version.children.slice(0,3)
                    li.grid-toc__service-list-item
                      a.grid-toc__link(href=folder.path)!= folder.title

doctype html
html(lang='en')
  head
    include partials/head.pug
  body.landing.landing--services
    .layout
      div.layout__content(role='main')
        - var sectionTitle = 'Konvoy Documentation'
        include partials/header/header.pug
        .landing__hero
          h1.landing__title Konvoy Partner Solutions
        .landing__container
          +renderGridInputs()
          +renderGridToc()
        footer.landing__footer
          .landing__footer__container
            a.landing__footer__logo__link(href='https://d2iq.com/')
              img.landing__footer__logo(src='/assets/D2IQ_Logotype_Color_Positive.png', alt='D2iQ')
            .landing__footer__menu
              a(href='https://d2iq.com/terms/') Terms of Service
              a(href='https://d2iq.com/privacy/') Privacy Policy
            a.landing__footer__copyright(href='https://d2iq.com/')!= copyright
    script(src='https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js')
    script(src='https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js')
    include partials/scripts.pug
