- var paths = path.split('/')
- var currentPath = '/' + path
- var items = hierarchy.children.find(child => child.id === paths[0])
- var currentDocs = items
- var headerItems = hierarchy.find('menus').filter(page => page.menus.indexOf('header') != -1)
- var semanticVersion = /^v[0-9]+/

mixin renderGridToc()
  div(class='grid-toc')
    each val, index in currentDocs.children
      if val.children
        each childVal, childIndex in val.children
          if semanticVersion.test(childVal.id)
            - versioned = true
            - childVal.title = val.title
            - val = childVal
            - break
      if val.menuWeight != -1
        div(class='grid-toc__item')
          h2(class='grid-toc__title')
            a(href=val.path)!= val.title
          if val.excerpt
            - var displayExcerpt = (val.excerpt.length > 100) ? val.excerpt.substring(0, 100) + '…' : val.excerpt
            p(class='grid-toc__desc')!= displayExcerpt
          if val.children
            ul(class='grid-toc__list')
              for item in val.children.slice(0, 5)
                li(class='grid-toc__list-item')
                  a(href=item.path, class='grid-toc__link')!= item.title
              if val.children.length > 5
                li(class='grid-toc__list-item')
                  a(href=val.path, class='grid-toc__link grid-toc__link--all') View All
                    i(data-feather='arrow-right')

mixin renderGrid()
  div(class='grid')
    a(href='/1.10/installing', class='grid__item')
      h3(class='grid__header') Install DC/OS
      p(class='grid__desc') As a datacenter operating system, DC/OS is itself a distributed system, a cluster manager, a container platform, and an operating system.
      div(class="grid__link")
        i(data-feather='chevron-right')
    a(href='https://support.mesosphere.com', class='grid__item')
      h3(class='grid__header') Need Support?
      p(class='grid__desc') As a datacenter operating system, DC/OS is itself a distributed system, a cluster manager, a container platform, and an operating system.
      div(class="grid__link")
        i(data-feather='chevron-right')

doctype html
html(lang='en')
  head
    include partials/head.pug
  body(class='landing landing--services')
    div(class='layout')
      div(role='main', class='layout__content')
        include partials/header.pug
        div(class='landing__hero')
          h1(class='landing__title') Service Docs

        div(class='landing__container')
          +renderGridToc()
          +renderGrid()

          div(class='landing__external')
            div(class='landing__external-item')
              //- img(class='landing__external-icon', src='http://via.placeholder.com/30x30')
              h3(class='landing__external-title')
                a(class='landing__external-link') Get DC/OS Training
              p(class='landing__external-description') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent convallis vitae erat..
            div(class='landing__external-item')
              //- img(class='landing__external-icon', src='http://via.placeholder.com/30x30')
              h3(class='landing__external-title')
                a(class='landing__external-link') Join the Community
              p(class='landing__external-description') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent convallis vitae erat..
            div(class='landing__external-item')
              //- img(class='landing__external-icon', src='http://via.placeholder.com/30x30')
              h3(class='landing__external-title')
                a(class='landing__external-link') Find us on Slack
              p(class='landing__external-description') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent convallis vitae erat..

        footer(class='landing__footer')
          div(class='landing__footer__container')
            img(class='landing__footer__logo', src='/assets/logo-logomark.svg')
            div(class='landing__footer__menu')
              a(href='https://mesosphere.com/terms/') Terms of Service
              a(href='https://mesosphere.com/privacy/') Privacy Policy
            div(class='landing__footer__copyright')!= copyright
    script(src='https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js')
    script(src='https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js')
    include partials/scripts.pug