- 
  var menus = [{
    "title": "Ksphere",
    "children": [
      {
        "title": "Konvoy", 
        "path":"/ksphere/konvoy"
      }, {
        "title": "Partner Solutions", 
        "path":"/ksphere/konvoy/partner-solutions"
      }, {
        "title": "Kommander", 
        "path":"/ksphere/kommander"
      }, {
        "title": "Dispatch",
        "path": "/ksphere/dispatch"
      }
    ]
  }, {
    "title": "Mesosphere",
    "children": [
      {
        "title": "DC/OS", 
        "path":"/mesosphere/dcos"
      }, {
        "title": "DC/OS Services", 
        "path":"/mesosphere/dcos/services"
      }
    ]
  }]
div(class='header-dropdown')
  ul(class='header-dropdown__list')
    each sphere in menus
      li(class='header-dropdown__top-item')
        div(href=sphere.path)!= sphere.title
      each val in sphere.children
        - var itemClass = {}
        - itemClass['header-dropdown__item'] = true
        - itemClass['header-dropdown__item--active'] = (val.path == '/' && semanticVersion.test(paths[0])) || (val.path != '/' && ('/' + path).includes(val.path))
        li(class=itemClass)
          a(href=val.path)!= val.title
    li(class='header-dropdown__item')
        a(href='https://support.d2iq.com') Support
    //- if headerSphereItems
    //-   each sphere in headerSphereItems
    //-     //- li(class='header-dropdown__item')
    //-     //-   a(href=sphere.path)!= sphere.title
    //-     each prod in sphere.children
    //-       li(class='header-dropdown__item')
    //-         a(href=prod.path)!= prod.title